@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

/* ----------Color----------- */
:root {
  --color-primary: #ce8d14;
  --text-color: #fff;
  --shadow-upper: -5px -5px 5px rgba(224, 224, 224, 0.3),
                8px 8px 8px rgba(0, 0, 0, 0.2);
  --shadow-lower: -15px -15px 15px rgba(224, 134, 134, 0.2),
                15px 15px 15px rgba(0, 0, 0, 0.1),
                inset -5px -5px 5px rgba(255, 255, 255, 0.2),
                inset 5px 5px 5px rgba(0, 0, 0, 0.1);
  --input-shadow: -5px -5px 5px rgba(199, 137, 23, 0.1),
                4px 4px 4px rgba(0, 0, 0, 0.2),
                inset -5px -5px 5px rgba(255, 255, 255, 0.2),
                inset 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.primary {
  color: #dfa111;
}
.text-color {
  color: var(--text-color);
}
.btn-color {
  background: var(--color-primary);
  color: #fff;
}
body {
  background-color: #292929;
}
/* Image */
.image {
  overflow: hidden !important;
  max-height: 683px;
  border-radius: 8px 0 0 8px !important;
}
#image {
  height: 100%;
}
/* input field */
.form-bg {
  background: var(--color-primary);
  border-radius: 0 8px 8px 0;
}
input {
  box-shadow: var(--shadow-lower);
  background: var(--color-primary) !important;
  border: none !important;
  padding: 0 10px;
  color: var(--text-color) !important;
  font-weight: 600 !important;
  font-size: 18px;
}
input:focus {
  box-shadow: var(--shadow-upper) !important;
  background-color: #fff !important;
  color: var(--color-primary) !important;
}
input::placeholder{
  color: rgba(255, 255, 255, 0.61) !important;
  font-size: 13px!important;
}
.form-bg button {
  box-shadow: var(--shadow-upper) !important;
  transition: all 0.4s ease-in-out;
}
.form-bg button:hover {
  color: var(--text-color);
  background: #8d610e;
}
/* Scrollbar */
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(transparent, #ce8d14);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover{
  background: linear-gradient(transparent, #00c6ff)
}
